<div>
  
        <h2>List of Books</h2> 
       
</div>

<div class="col-md-6">
  <table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let book of books$">
          <td>{{book.id}}</td>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td><button class="btn btn-danger" (click)="deleteBook(book)"> Delete Book</button></td>
          <td><button class="btn btn-info" (click)="updateBook(book)"> Update Book</button></td>
          </tr>
  </tbody>
    </table>

  </div>